@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  font-family: "Noto Sans Bengali", sans-serif;
  background: #eef6fd;
  scroll-behavior: smooth;
}

.gradient-text {
  font-weight: bold;
  text-transform: uppercase;
  background: linear-gradient(120deg, #c50b0b, #ff7300, #ee4e71, #e11d48, #36b5f5, #0284c7, #a600ff, #ff0000);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 300% 300%;
  animation: color-slide 8s infinite linear;
}

@keyframes color-slide {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

#resign_type {
  font-size: 11px !important;
}
